@font-face {
    font-family: 'dongqingheiti';
    src: url('/static/fonts/dongqingheiti.woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fangzhengheijianti';
    src: url('/static/fonts/fangzhengheijianti.woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fangzhengfangsongjianti';
    src: url('/static/fonts/fangzhengfangsongjianti.woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fangzhengshusongjianti';
    src: url('/static/fonts/fangzhengshusongjianti.woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'siyuanheiti-Regular';
    src: url('/static/fonts/siyuanheiti-Regular.woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'siyuanheiti-Thin';
    src: url('/static/fonts/siyuanheiti-Thin.woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'siyuanheiti-Bold';
    src: url('/static/fonts/siyuanheiti-Bold.woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'wenquanzhenghei';
    src: url('/static/fonts/wenquanzhenghei.woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'wenquanweimihei';
    src: url('/static/fonts/wenquanweimihei.woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'huakangshaonv';
    src: url('/static/fonts/huakangshaonv.woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'xiliangshaonv';
    src: url('/static/fonts/xiliangshaonv.woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'qingningyouyuan';
    src: url('/static/fonts/qingningyouyuan.woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pingfangchangguijianti';
    src: url('/static/fonts/pingfangchangguijianti.woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pingfangjixijianti';
    src: url('/static/fonts/pingfangjixijianti.woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'qiheixiuchang';
    src: url('/static/fonts/qiheixiuchang.woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'zikutanghuangkaiti';
    src: url('/static/fonts/zikutanghuangkaiti.woff2');
    font-weight: normal;
    font-style: normal;
}